<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swasth Saathi</title>
    <link href="./output.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>

<body>
        <div class="container min-h-screen min-w-full bg-[url('/static/images/medi.jpg')] bg-center bg-cover px-28 py-5 relative">
    
        <nav class="flex items-center justify-between">
            <img src="static/images/YOUR_processed.png" class="w-20 cursor-pointer" >
            <ul>
                <li class="list-none inline-block px-5"><a href="#" class="no-underline text-black px-2 ">Home</a></li>
                <li class="list-none inline-block px-5" ><a href="#" class="no-underline text-black px-2">About</a></li>
                <li class="list-none inline-block px-5"><a href="#" class="no-underline text-black px-2">Features</a></li>
                <li class="list-none inline-block px-5"><a href="#" class="no-underline text-black px-2">Contact us</a></li>
            </ul>
            <img src="static/images/micro.png" class="w-10 cursor-pointer" >
        </nav>
        <div class="text-black mt-32 max-w-xl">
            <h1 class="text-5xl font-semibold">Personal Health<br> Made easy. </h1>
            <p class="mt-4">Your Personal Health Advisor, Right in Your Pocket.<br>Transforming Your Wellness Journey with Smart Insights!.Achieve Your Health Goals with Data-Driven Recommendations.</p>

            <div class="mt-4">
                <a href="{{ url_for('survey') }}" class="no-underline bg-yellow-300 rounded-3xl px-8 py-3 font-medium hover:bg-transparent hover:border hover:text-black duration-300 hover:border-yellow-300 inline-block">Try now</a>
                <a href="#" class="inline-block text-black text-lg px-7">Download App<span class="text-lg inline-block text-black rotate-90">&#10148</span> </a>
            </div>
            <div class="mt-4">
                <a href="{{ url_for('symptom') }}" class="no-underline bg-yellow-300 rounded-3xl px-8 py-3 font-medium hover:bg-transparent hover:border hover:text-black duration-300 hover:border-yellow-300 inline-block">Try our Symptom base Analysis</a>
            </div>
        </div>
        <img src="static/images/person_processed.png" class="w-full h-100 xl:w-1/2 xl:absolute bottom-0 right-10">
    </div>
    
</body>
</html>